<%- include("partials/header"); -%>

<div class="container">



      <form class="" action="mailto:seraale@gmail.com" method="post" enctype="text/plain">
        <div class="form-group">
        <label><b>Your Name</b></label>
        <input class="form-control" type="text" name="yourName" value=""><br>

        <label><b>Your Email</b></label>
        <input class="form-control" type="email" name="yourEmail" value=""><br>

        <label><b>Your Message<b/></label><br>
        <textarea class="form-group" name="yourMessage" rows="5" cols="122"> </textarea>

        <button class="btn btn-primary" type="submit" class="button_t"> <b>Send Us</b></button>
        </div>
      </form>


</div>





<%- include("partials/footer"); -%>
